body {
  background-image: url("../public/Images/svg.png");
  background-repeat: no-repeat;
}

.app_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh !important;
}

.container {
  width: 30%;
  padding: 30px;
  background-color: rgba(255, 255, 255);
  color: black;
  margin-top: 60px;
  margin-bottom: 20px;
  border-radius: 20px;
}
#login {
  text-align: center;
  color: black;
  font-size: 70px;
  margin-bottom: 20px;
  font-family: "Fredoka", sans-serif;
}
Form {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}
#submit-btn {
  margin-top: 20px;
  width: 100%;
  font-size: 20px !important;
  border-radius: 10px;
  margin-bottom: 10px;
}

#input-field {
  border-radius: 10px;
  font-size: 20px !important;
}
.formlog_orContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-weight: 200;
  color: grey;
}

#formlog_orContainer_logo {
  width: 40px;
  margin: 10px;
}

a {
  text-decoration: none;
  padding: 5px;
}
.container_SignUp {
  width: 30%;
  padding: 30px;
  background-color: rgba(255, 255, 255);
  color: black;
  margin-top: 60px;
  margin-bottom: 20px;
  border-radius: 20px;
}
#Form_SignUp {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}

#input-field_SignUp {
  border-radius: 10px;
  font-size: 20px !important;
}

#input-field_SignUp:focus {
  box-shadow: none;
}

#input-field_login {
  border-radius: 10px;
  font-size: 20px !important;
}

#input-field_login:focus {
  box-shadow: none;
}

.flex-container {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.card {
  height: 70%;
  border-radius: 20px;
  padding: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card:hover {
  transition-duration: 500ms;
  transform: scale(1.07);
  border-radius: 20px;
  box-shadow: 10px 10px 6px 6px #888888;
  cursor: pointer;
}

#card_footer {
  text-align: center;
  padding: 25px;
  font-size: 35px;
  font-family: "Bree Serif", serif;
}

.chat {
  height: 312px;
  display: flex;
  align-items: center;
}

.navbar {
  background: transparent !important;
}

.container_nav {
  font-family: "Cinzel", serif;
  padding: 10px;
  font-size: 25px;
  width: 100%;
}

.navbar-expand {
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  padding: 0px 50px;
}

#profile {
  width: 50px;
  padding: 5px;
}

#dropdown-basic {
  background-color: transparent;
  border: none;
}

#dropdown-basic:focus {
  box-shadow: none;
}

.dropdown-menu[data-bs-popper] {
  top: 100%;
  margin-top: 0.125rem;
  transform: translateX(-15%);
  text-align: center;
  transition-duration: 1s;
}

.dropdown-menu {
  width: 10px !important;
}

a.dropdown-item:hover{
  background: none;
  transition-duration: 0.5s;
  transform: scale(0.9);
}